


section article{
	float: right;
	padding: 5px;
	margin-top: 10px;
	width: 97%;
	min-height: 150px;
	border-top:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-bottom:1px solid #E0E0E0;
}

section article img{
	float: left;
	height: 140px;
	width: 140px;
	margin: 5px;
}

section article .datosProducto{
	float: left;
	margin: 5px;
	padding: 5px;	
	width: 460px;
}

section article .datosProducto a{
	font-size: 1.3em;
	text-decoration: none;
	color: inherit;
}

section article .datosProducto a:hover{
	font-size: 1.3em;
	text-decoration: underline;
	color: #00c9ff;
}

section article .datosProducto span{
	font-weight: bold;
	font-size: 14px;
}

section article .datosProducto .vendedor{
	color: #888888;
}

section article.mascotas{
	border-left: 4px solid #ffca09;
}

section article.casa{
	border-left: 4px solid #8ec63e;
}

section article.joyeria{
	border-left: 4px solid #7c51a2;
}

section article.moda{
	border-left: 4px solid #d51a79;
}

section article.deporte{
	border-left: 4px solid #01abe6;
}

section article.electronica{
	border-left: 4px solid #f68122;
}