
article p{
	color: #272822;
}

article p.notificacionPuja{
	padding: 5px;
	margin: 5px;
	background: #20aeef;	
}

article p.notificacionCompra{	
	padding: 5px;
	margin: 5px;
	background: #ACDA10;	
}

article p.notificacionCaducada{
	padding: 5px;
	margin: 5px;
	background: #ff5462;	
}

article p.notificacionVenta{
	padding: 5px;
	margin: 5px;
	background: #CBEC46;	
}

article p.notificacionSobrepuja{
	padding: 5px;
	margin: 5px;
	background: #FEBC34;	
}

article p span{
	font-weight: bold;
}