
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

*{
	padding: 0px;
	margin: 0px;	
	font-family: 'Open Sans', sans-serif;
	transition: .3s;
}

body{
	background: #fff;
}

.centrado{
	width: 1000px;
	margin: 0 auto;	
}

p, h1, h2, h3{
	color: #2C393B;
}

.condiciones{
	font-style: italic;
}

.gris{
	background: #2C393B;
	color: #fff;
}

.amarillo{
	background: #ff9700; 
}



nav{	
	border-top: 5px solid #00c9ff; 
	padding: 5px;
	border-bottom: 1px solid #e1e1e1;
	background: #F2F2F2;		
}

nav form{
	display: inline-block;
	float: right;
	margin-top: -10px;
}

nav form input[type="text"]{
	width: 250px;
	padding: 10px;	
	background: #F9F9F9;
	border: 1px solid #e1e1e1;
}

nav ul {
	float: right;	
	margin-top: 35px;	
}

nav ul li{
	display: inline;	
}

nav li a{
	color: #2C393B;
	padding: 10px;
	margin-right: 10px;
	text-decoration: none;
}

nav li .inicio:hover{
	border-bottom: 1px solid #019700;
	color: #019700;
}

nav li .login:hover{
	border-bottom: 1px solid #ff9700; 
	color: #ff9700; 
}

nav li .registro:hover{
	border-bottom: 1px solid #ff0050; 
	color: #ff0050; 
}

nav li .contacto:hover{
	border-bottom: 1px solid #00c9ff; 
	color: #00c9ff; 
}

header{		
	min-height: 450px;
	padding: 10px;	
	display: block;
}

header article{		
	display: inline-block;
	padding: 10px;	
	float: left;
	margin: 5px;	
	background: #fff;
}

header aside{
	float: right;
	display: inline;		
	width: 310px;
	height: 100%;
	text-align: center;
	margin-bottom: 10px;
}

aside article{
	margin-bottom: 10px;
}

aside h2{
	text-align: right;
	padding: 5px;	
	margin-bottom: 15px; 
	border-bottom: 2px solid #2C393B;
}

aside a{
	color: #00c9ff;	
	text-decoration: none;
}

aside form input{
	margin: 5px auto;
	display: block;
	padding: 5px;
	width: 90%;
}

aside form input[type='submit']{
	background-color: #ff9700;
	color: #fff; 
	width: 95%;
	padding: 5px;
	border: none;	
}

aside form input[type='submit']:hover{
	background-color: #D98200;
	cursor: pointer;
}

aside ul a{
	color: #2C393B;
}

aside ul li{
	list-style: none;
	text-align: right;	
	margin-bottom: 3px;
	border-bottom: 1px solid #D0DCDD;
	padding: 5px;
	background: url('../img/flecha.png') left no-repeat;
}

.casa:hover{
	border-bottom: 1px solid #019700;
	color: #019700;
}

.joyeria:hover{
	border-bottom: 1px solid #ff9700;
	color: #ff9700;
}

.moda:hover{
	border-bottom: 1px solid #ff0050; 
	color: #ff0050; 
}

.deporte:hover{
	border-bottom: 1px solid #00c9ff;
	color: #00c9ff;	
}

.electronica:hover{
	border-bottom: 1px solid #F76D09;
	color: #F76D09;
}



/* SECTIONS */

.centrado aside{
	float: left;
	border-top: 1px solid #fff;
	width: 30%;
	margin-top: 10px;
}


section{	
	min-height: 400px;
	width: 69%;
	float: left;
}

section h1{
	padding: 5px;	
	margin-bottom: 15px; 
	border-bottom: 2px solid #2C393B;
}

section article{
	padding: 30px 10px;
}

.productos article{	
	margin: 10px;
	padding: 10px;
	display: block;	
	border-bottom: 3px solid #DDDDDD;
	min-height: 150px;
}

.productos article img{
	height: 140px;
	width: 140px;
	float: left;
	margin: 5px;
}

.productos article span{
	font-weight: bold;
	font-size: 14px;
}

.productos .datosProducto{
	float: left;
	padding-left: 10px;
}


.productos article .vendedor{
	text-transform: uppercase;
	font-size: 12px;
	color: #888888;	
}

.productos .datosProducto .descripcion{	
	width: 490px;
}


.formularios{	
	text-align: center;
	color: #fff;
}

section article form {
	margin: 0 auto;
	width: 350px;
	padding: 10px;
}

section article form input{
	display: block;
	padding: 5px;
	border: 1px solid #2C393B;
	width: 300px;
	margin: 10px auto; 
	/*background: url('../img/favicon.png') right no-repeat;*/
}

section article form textarea{
	display: block;
	padding: 5px;
	border: 1px solid #2C393B;
	width: 300px;
	margin: 10px auto; 
}

section article form input:focus{
	border: 1px solid #00c9ff;	
}

section article form input[type="submit"]:hover{
	cursor: pointer;
	background: #00c9ff;
	color: #2C393B;
}

footer{
	background: #272623;
	color: #fff;
	text-align: center;
	float: left;
	width: 100%;	
}

footer img{
	padding: 40px;
}