
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

*{
	padding: 0px;
	margin: 0px;	
	font-family: 'Open Sans', sans-serif;
}

body{
	background: #fff;
}


p, h1, h2, h3{
	color: #2C393B;
}

.gris{
	background: #2C393B;
	color: #fff;
}

.amarillo{
	background: #ff9700; 
}

.centrado{
	width: 1000px;
	margin: 0 auto;
}

nav{	
	padding: 10px;
	border-bottom: #5f5f5f;
	background: #ededed;	
}

nav ul {
	float: right;	
	margin-top: 30px;	
}

nav ul li{
	display: inline;
}

nav li a{
	color: #2C393B;
	padding: 10px;
	margin-right: 10px;
	text-decoration: none;
}

nav li .inicio:hover{
	border-bottom: 3px solid #019700;
	color: #019700;
}

nav li .login:hover{
	border-bottom: 3px solid #ff9700; 
	color: #ff9700; 
}

nav li .registro:hover{
	border-bottom: 3px solid #ff0050; 
	color: #ff0050; 
}

nav li .contacto:hover{
	border-bottom: 3px solid #00c9ff; 
	color: #00c9ff; 
}

header{		
	
	min-height: 450px;
	padding: 10px;	
	display: block;
}

header article{		
	display: inline-block;
	padding: 10px;	
	float: left;
	margin: 5px;	
	background: #fff;
}

header aside{
	float: right;
	display: inline;		
	width: 310px;
	height: 100%;
	text-align: center;
	margin-bottom: 10px;
}

header aside h2{
	text-align: right;
	padding: 5px;	
	margin-bottom: 15px; 
	border-bottom: 2px solid #2C393B;
}

header aside a{
	color: #00c9ff;	
	text-decoration: none;
}

header aside form input{
	margin: 5px auto;
	display: block;
	padding: 5px;
	width: 90%;
}

header aside form input[type='submit']{
	border: 1px solid #ff9700; 
	color: #ff9700; 
	width: 95%;
	padding: 5px;
	background: inherit;
}

header aside form input[type='submit']:hover{
	background-color: #ff9700;
	color: #2C393B;
	cursor: pointer;
}

header aside ul a{
	color: #2C393B;
}

header aside ul li{
	list-style: none;
	text-align: right;	
	margin-bottom: 3px;
	border-bottom: 1px solid #D0DCDD;
	padding: 5px;
	background: url('../img/flecha.png') left no-repeat;
}

.casa:hover{
	border-bottom: 2px solid #019700;
	color: #019700;
}

.joyeria:hover{
	border-bottom: 2px solid #ff9700;
	color: #ff9700;
}

.moda:hover{
	border-bottom: 2px solid #ff0050; 
	color: #ff0050; 
}

.deporte:hover{
	border-bottom: 2px solid #00c9ff;
	color: #00c9ff;	
}

.electronica:hover{
	border-bottom: 2px solid #F76D09;
	color: #F76D09;
}



/* SECTIONS */

section{	
	min-height: 400px;
}

section h1{
	padding: 5px;	
	margin-bottom: 15px; 
	border-bottom: 2px solid #2C393B;
}

section article{
	padding: 30px 10px;
}


.productos article{
	text-align: center;
	margin: 3px;
	padding: 3px;
	display: inline-block;	
	height: 300px;
	width: 180px;
}

.productos article:hover{
	box-shadow: 0px 0px 7px rgba(46,46,46,0.3);
	cursor: pointer;	
}


.formularios{	
	text-align: center;
	color: #fff;
}

section article form input{
	display: block;
	padding: 5px;
	border: 1px solid #2C393B;
	width: 300px;
	margin: 10px auto; 
}


footer{
	background: #272623;
	color: #fff;
	text-align: center;
	padding: 20px;
}